
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.tudo {
  flex: 1;
  display: flex;
}

nav {
  width: 220px;
  background-color: #054d2b; 
  color: white;
  padding: 20px 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  position: relative;
}

nav a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #f6bb0a; 
  color: black;
  transition: 0.3s;
}

.submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #0a4275;
  min-width: 180px;
}

nav li:hover .submenu {
  display: block;
}

.menu {
  flex: 1;
  padding: 30px;
  background-color: #f2f2f2;
}

.botao {
  text-align: center;
  margin-top: 20px;
}

.botao button {
  background-color: #112f41;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  color: white;
}

.botao button:hover {
  background-color: #d8a600;
}

footer {
  background-color: #112f41;
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: auto;
}

footer  {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

footer a {
  color: white;
  font-size: 20px;
  transition: color 0.3s;
}

footer .redes a:hover {
  color: #f6bb0a;
}
